<div class="fileBox">
    <a  [href]="'https://devui.design/home'" [target]="'_blank'">Angular 官网 </a>
    <a  [href]="'https://devui.design/home'" [target]="'_blank'">DevUI 官网</a>
    <a  [href]="'http://tinymce.ax-z.cn/'" [target]="'_blank'">TinyMCE 中文文档</a>
    <a  [href]="'https://www.tiny.cloud/docs/integrations/angular/'" [target]="'_blank'">TinyMCE Angular5+</a>
    <a  [href]="'https://cn.rx.js.org/manual/overview.html'" [target]="'_blank'">RxJS 中文文档</a>
    <a  [href]="'https://echarts.apache.org/zh/index.html#5 分钟上手 ECharts'" [target]="'_blank'">echarts 文档</a>
    <a  [href]="'https://www.webpackjs.com/concepts/'" [target]="'_blank'">webpack 中文文档</a>
    <a  [href]="'https://panjiachen.github.io/vue-element-admin/#/dashboard'" [target]="'_blank'">Vue Element Admin</a>
    <a  [href]="'https://www.bookstack.cn/'" [target]="'_blank'">书栈网</a>
</div>
